<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>제품 목록</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	
	div {
		border: solid 2px gray;
	}
	
	.img {
		height: 380px;
	}
</style>
</head>
<body th:align="center">
	<hr>
	<br>
	<h1>제품 목록</h1>
	<br>
	<hr>
	<!-- 검색시작 -->
	<br>
	<form th:action="@{/product/getProductList}" method="post">
	<table th:align="right" th:cellpadding="0" th:cellspacing="0" th:width="700">
		<tr>
			<td align="right">
				<select name="searchCondition">
					<option value="TITLE">제목</option>
					<option value="CONTENT">내용</option>
					<option value="ID">아이디</option>
				</select>
				<input name="searchKeyword" type="text"/>
				<input type="submit" value="검색"/>
			</td>
		</tr>
	</table>
	</form>
	<br>
	<hr>
	<!-- 검색	 종료 -->
	<br>
	<div class="container">
		<div th:each = "product, state : ${productList}" class="card">
			<img
				src="https://search.pstatic.net/common/?src=https%3A%2F%2Fshopping-phinf.pstatic.net%2Fmain_8636429%2F86364296072.jpg&type=f372_372"
				class="card-img-top" alt="..." style="max-height: 250px">
			<div class="card-body">
				<h5 class="card-title" th:text="${product.title}"></h5>
				<h5 class="card-text" th:text="${product.price}"></h5>
				<p class="card-text" th:text="${product.pCategory}"></p>
				<small class="card-text" th:text="${product.regdate}"></small><br>
				<small class="card-text" >중고/경매</small><br>
				<a href="#" class="btn btn-secondary" >거래완료</a>
			</div>
		</div>
	</div>
	<br>
	<h3>[페] [이] [지] [네] [이] [션]</h3>
	<br>
	<hr>
	<br>
	<a th:href="@{/product/insertProduct}">제품 등록</a>
</body>
</html>