<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>🥕당근나라 번개공주</title>
</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div th:align="right">
				<a style="margin: 40px 40px 0 0;" type="button"
					class="btn btn-outline-dark flex-shrink-0"
					onclick="location.href='/product/insertProduct'">상품 등록</a>
			</div>
			<!-- 검색	 종료 -->
			<br>

			<div id="product-main-view" th:align="center"
				style="justify-content: center;">
				<div th:each="product, state : ${productList}" class="card"
					style="width: 250px; margin-bottom: 40px;">
					<div
						style="margin: 0; padding: 0; width: 100%; height: 250px; overflow: hidden;">
						<a th:href="@{/product/getProduct(pNo=${product.pNo})}"><img
							th:src="@{${product.upload}}" class="card-img-top" alt="..."
							onerror="this.src='/images/carrot.png'"
							style="width: 100%; height: 100%; object-fit: cover;"></a>
					</div>
					<div class="card-body"
						th:href="@{/product/getProduct(pNo=${product.pNo})}"
						style="width: 250px;">
						<div
							style="width: 218px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
							<a
								style="font-size: 20; font-weight: bold; text-decoration: none;"
								class="card-title" th:text="${product.title}"></a>
						</div>
						<h5 class="card-text" th:if="${product.auction.toString() == 'N'}"
							th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}"></h5>
							<br>
							<div th:if="${product.auction.toString() == 'Y'}">
								<small>시작가</small>
								<h5 class="card-text" 
								th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}">
								</h5>
								<br>
							</div>
						<div class="small mb-1"
							th:switch="${product.pCategory.toString()}">
							<span th:case="DIGI">디지털/가전</span> <span th:case="FURN">가구</span>
							<span th:case="CLOT">의류/잡화</span> <span th:case="BEAU">뷰티</span>
							<span th:case="ETC">기타</span>
						</div>
						<br> <small class="card-text"
							th:text="${product.salesId.nickName}"></small><br> <small
							class="card-text"
							th:text="${#dates.format(product.regdate, 'yyyy-MM-dd (hh:mm)')}"></small><br>
						<br>
						<div th:if="${product.auction.toString() == 'N'}">
							<a th:if="${product.sold.toString() == 'N'}" class="btn btn-primary">판매중</a>
							<a th:if="${product.sold.toString() == 'Y'}" class="btn btn-secondary">거래완료</a>
						</div>
						<div th:if="${product.auction.toString() == 'Y'}">
							<a th:if="${product.sold.toString() == 'N'}" class="btn btn-primary">경매중</a>
							<a th:if="${product.sold.toString() == 'Y'}" class="btn btn-secondary">경매기간종료</a>
						</div>
					</div>
				</div>
			</div>

			<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
				<a th:if="${page != nowPage}"
					th:href="@{/product/getProductList?type=prod(page=${page - 1})}"
					th:text="${page}"> </a>
				<strong th:if="${page == nowPage}" th:text="${page}"
					style="color: red"></strong>
			</th:block>
		</div>
	</div>
</body>
<script type="text/javascript">
function clock(regdate, duration) {
	regdate = new Date(regdate).getTime();
	let aucDuToTime = duration * 1000 * 60 * 60 * 24;
	let currentTime = new Date().getTime();
    
    let time = parseInt(regdate) + aucDuToTime - parseInt(currentTime);

    if (time < 0) {
    	return false;
    }
    return true;
}
</script>
</html>