<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>제품 등록</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
	.container {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
	div {
		border: solid 2px gray;
	}
	.grid {
		height: 600px;
		padding: 20px;
		margin: 30px;
	}
	.align {
		display: flex;
		justify-content: space-around;
	}
	button {
		padding: 10px 50px 10px 50px;
		border: 2px gray soid;
		border-radius: 40%;
		background-color: transparent;
	}
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body th:align="center">
	<hr>
	<br>
	<h1>제품 등록</h1>
	<br>
	<hr>
	<br>
	<div class="container">
		<!-- 파일 업로드 영역 -->
		<div class="grid">
			<input multiple="multiple" type="file" onchange='readURL(this);' name="file" id="file"
				style="display: none;" accept="image/*">
			<img id="imgShow" src="/images/camera_icon.png" onclick='imgclick();' style="width: 500px; height: 500px;">
			<div style="height: 30px;"></div>
			<small class="text-muted">(파일크기 : 10MB / 이미지 파일만 가능)</small> <small
				id="file" class="text-info"></small>
			<div style="height: 20px;"></div>
		</div>
		<!-- 파일 업로드 영역 끝 -->
		<!-- 글 영역 -->
		<div class="grid">
		<form id="productForm" th:action="@{/product/insertProduct}" method="post">
			<table th:align="center" th:cellpadding="10px" style="width: 100%;">
				<tr>
					<td><input type="text" name="title" style="width: 100%;"/></td>
				</tr>
				<tr>
					<td>
						<div class="align">
							<label><input type="radio" name="category" value="카테고리1"> 카테고리 1</label>
							<label><input type="radio" name="category" value="카테고리2"> 카테고리 2</label>
							<label><input type="radio" name="category" value="카테고리3"> 카테고리 3</label>
							<label><input type="radio" name="category" value="기타"> 기타</label>
						</div>
					</td>
				</tr>
				<tr>
					<td style="height: 100%;">
					<textarea name="content" style="width: 100%; resize: none;" rows="30"></textarea>
					</td>
				</tr>
			</table>
		</form>
	<!-- 글 영역 끝 -->
		</div>
	</div>
	<br>
	<hr>
	<br>
	<button type="submit" onclick="formsubmit();">등록</button>&nbsp;&nbsp;&nbsp;
	<button type="button" onclick="location.href='/product/getProductList'">취소</button>
	<div style="height: 30px;"></div>
</body>
<script type="text/javascript">
	/*=============================================
	 * 이미지 등록 이미지 클릭
	 *=============================================*/
	function formsubmit() {
		$("#productForm").submit();
	}
	/*=============================================
	 * 이미지 등록 이미지 클릭
	 *=============================================*/
	function imgclick() {
		$("#file").click();
	}
	/*=============================================
	 * 이미지 미리보기
	 *=============================================*/
	function readURL(input) {
		if (input.files && input.files[0]) {
			let reader = new FileReader();
			reader.onload = function(e) {
				document.getElementById('imgShow').src = e.target.result;
			};
			reader.readAsDataURL(input.files[0]);
			imgSet();
			$("#content").val("");
			$("#tag").val("")
			$("#tags").html("")
			$("#tagsend").html("")
			$("#tagcnt").val(0)
		} else {
			document.getElementById('imgShow').src = "/images/camera_icon.png";
		}

	}
</script>
</html>