<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>기본틀</title>
<style type="text/css">
	.align {
		display: flex;
		justify-content: space-around;
	}
	.box {
		width: 100%;
		border: 2px #bbb solid;
		border-radius: 20px;
		margin: 10px;
		padding: 5px;
	}
	
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
	
	/* Firefox  */
	input[type='number'] {
	  -moz-appearance: textfield;
	}
</style>
</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<div id="page-content-wrapper">
			<th:block th:replace="~{fragment/header :: header}"></th:block>
			<!-- Page content-->
			<div class="container-fluid">

			<!------------ 여기부터 메인 바디! 여기부터 작성하면 됨 ---------------->
<hr>
	<br>
	<h1>제품 등록</h1>
	<br>
	<hr>
	<br>
	<section class="py-5">
	<form id="productForm" th:action="@{/product/insertProduct}" method="post" enctype="multipart/form-data">
		<div class="container px-4 px-lg-5 my-5">
	       <div>
	           <div class="row gx-4 gx-lg-5 align-items-center">
	           	<input type="file" onchange='readURL(this);' name="file" id="file" style="display: none;" accept="image/*"/>
	  			<input type="hidden" name="salesId.id" value="${session.id.toString()}"/>
	               <div th:align="center" class="col-md-6">
		               <img style="width: 25em;" id="imgShow" class="card-img-top mb-5 mb-md-0" src="/images/upload.png" onclick='imgclick();' alt="...">
		               <p></p>
		               <small class="text-muted">(파일크기 : 10MB / 이미지 파일만 가능)</small>
	               </div>
	               <table class="col-md-6" style="padding-bottom: 20px;">
	              		 <tr>
	              		 	<td>제목&nbsp;</td>
	              		 	<td><input class="box" type="text" name="title"/></td>
	              		 </tr>
	              		 <tr>
	              		 	<td>카테고리</td>
							<td style="display: flex; justify-content: space-around;">
								<label><input type="radio" name="category" value="DIGI"> 디지털/가전</label>
								<label><input type="radio" name="category" value="FURN"> 가구</label>
								<label><input type="radio" name="category" value="CLOT"> 의류/잡화</label>
								<label><input type="radio" name="category" value="BEAU"> 뷰티</label>
								<label><input type="radio" name="category" value="ETC"> 기타</label>
							</td>
						 </tr>
						 <tr>
						 	<td>가격&nbsp;</td>
						 	<td><input class="box" type="number" name="price"/></td>
						 </tr>
						 <tr>
						 	<td>내용</td>
						 	<td><textarea class="box" name="content" style="resize: none; width: 100%;" rows="30"></textarea></td>
						 </tr>
	               </table>
	           </div>
	       </div>
	       </div>  
       </form>
     </section>
	<!-- 새글 박스 -->
	<div class="container">
		
		<!-- 파일 업로드 영역 -->
		<!-- <div class="grid">
			
			<div style="height: 30px;"></div>
			 <small
				id="file" class="text-info"></small>
			<div style="height: 20px;"></div>
		</div> -->
		<!-- 파일 업로드 영역 끝 -->
		<!-- 글 영역 -->
		<div class="grid">
			<table th:align="center" th:cellpadding="10px" style="width: 100%;">
				<tr>
					<td></td>
				</tr>
				<tr>
					<td>
						
					</td>
				</tr>
				<tr>
					<td style="height: 100%;">
					
					</td>
				</tr>
			</table>
	<!-- 글 영역 끝 -->
		</div>
		</form>
	</div>
	<!-- 새 글 박스 끝 -->
	<br>
	<hr>
	<br>
	<button type="submit" onclick="formsubmit();">등록</button>&nbsp;&nbsp;&nbsp;
	<button type="button" onclick="location.href='/product/getProductList'">취소</button>
	<div style="height: 30px;"></div>







			<!------------ 여기까지 메인 바디! 여기까지 작성하면 됨 ---------------->
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	/*=============================================
	 * 이미지 등록 이미지 클릭
	 *=============================================*/
	function formsubmit() {
		$("#productForm").submit();
	}
	/*=============================================
	 * 이미지 등록 이미지 클릭
	 *=============================================*/
	function imgclick() {
		$("#file").click();
	}
	/*=============================================
	 * 이미지 미리보기
	 *=============================================*/
	function readURL(input) {
		if (input.files && input.files[0]) {
			let reader = new FileReader();
			reader.onload = function(e) {
				document.getElementById('imgShow').src = e.target.result;
			};
			reader.readAsDataURL(input.files[0]);
			$("#content").val("");
		} else {
			document.getElementById('imgShow').src = "/images/camera_icon.png";
		}

	}
</script>
</html>