<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>신고리스트</title>

</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div class="container-fluid">
				<h1 class="mt-4">신고 게시물</h1>	
				</div>

				<!------------ 여기부터 메인 바디! 여기부터 작성하면 됨 ---------------->

				<table class="table">
					<thead>
						<tr>
							<th scope="col">신고번호</th>
							<th scope="col">신고자</th>
							<th scope="col">글 종류</th>
							<th scope="col">글 번호</th>
							<th scope="col">신고 내용</th>
							<th scope="col">신고일자</th>

						</tr>
					</thead>
					
					<tbody>
				
			<tr>
				<th scope="row">6</th>
				<td>jojo</td>
				<td>PRODUCT</td>
				<td>24</td>
				<td>제목은 할리갈리인데 들어가면 젠가 팔아요</td>
				<td>2023-10-25</td>
			</tr>
			</table>
			<!-- Your content for the second page goes here -->

			<p style="color: blue">
				<a href="getReportList.html">1</a> 2
			</p>
			<p style="color: white">Make sure to keep all page content within
				the The top navbar is optional, and just for demonstration. Just
				create an element with the ID which will toggle the menu when
				clicked.clicked.clicked.</p>

			<!------------ 여기까지 메인 바디! 여기까지 작성하면 됨 ---------------->
		</div>
	</div>
</body>
</html>