<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>마이 페이지</title>
<style type="text/css">
.btn-outline-secondary, .btn-outline-primary {
	width: 100px;
	margin-top: 3px;
}
</style>
</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div class="container-fluid">


				<!-- 폼 시작 -->
				<form action="/mypage/insertReview" method="post">

					<!-- 모달 시작 -->
					<div class="modal fade" id="exampleModalToggle"
						aria-labelledby="exampleModalToggleLabel" tabindex="-1"
						aria-hidden="true" style="display: none">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalToggleLabel">
										후기 남기기</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="rating"
											id="inlineRadio1" value="UP" checked /> <label
											class="form-check-label" for="inlineRadio1">👍 좋아요</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="rating"
											id="inlineRadio2" value="DOWN" /> <label
											class="form-check-label" for="inlineRadio2">👎 별로에요</label>
									</div>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary"
										data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">다음</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="exampleModalToggle2"
						aria-labelledby="exampleModalToggleLabel2" tabindex="-1"
						aria-hidden="true" style="display: none">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalToggleLabel2">
										한 줄 평가</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<input type="text" name="content" size="30pt" maxlength="50"
										required="required" /> <span style="color: gray"> <br>최대
										50자
									</span>
								</div>
								<div class="modal-footer">
									<button class="btn btn-primary" type="submit">후기 보내기</button>
								</div>
							</div>
						</div>
					</div>
					<!-- 모달 끝 -->
					<input type="hidden" name="receiver" id="receiverInput"> <input
						type="hidden" name="pNo" id="pNoInput">
				</form>
				<!-- 폼 끝 -->

				<h4 class="mt-4">
					🛍️ <span style="font-weight: bold"
						th:text="${currentUser.nickName}"></span>님의 구매 목록
				</h4>
				<br>
				<div id="mypage-product-list">
					<div th:if="${buyList.empty}">
						<p>구매한 상품이 없습니다.</p>
					</div>

					<div class="card" th:each="product, state : ${buyList}"
						style="width: 250px; height: 380px; margin-bottom: 20px;">
						<div class="card-img-square">
							<a th:href="@{/product/getProduct(pNo=${product.key.pNo})}"><img
								th:src="@{${product.key.upload}}" class="card-img-top" alt="..."
								onerror="this.src='https://buly.kr/9BSKdMj'"
								style="width: 100%; height: 100%; object-fit: cover;"></a>
						</div>
						<div class="card-body" style="width: 250px; margin-bottom: 0px;">
							<span class="card-text" style="font-size: small;"
								th:switch="${product.key.pCategory.toString()}"> <span
								th:case="DIGI">디지털/가전</span> <span th:case="FURN">가구</span> <span
								th:case="CLOT">의류/잡화</span> <span th:case="BEAU">뷰티</span> <span
								th:case="ETC">기타</span>
							</span>
							<div
								style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-top: 0px;">
								<span class="card-title"
									style="font-size: 12pt; font-weight: bold;"
									th:text="${product.key.title}"></span><br> <span
									class="card-text"
									th:text="${#numbers.formatInteger(product.key.price, 3, 'COMMA') + '원'}">원</span>
								<br>
								<small class="card-text"
									th:text="${product.key.salesId.nickName}"></small>
							</div>

							<div th:align="center" style="margin-bottom: 5px;">
								<hr
									style="border: 1px dashed gray; width: 200px; align-self: center; margin-bottom: 4 px;">
								<strong>후기 보내기</strong>
							</div>
							<div th:align="center" style="margin-top: 10px;"
								th:attr="style=${product.key.delevery.toString() == 'Y'} ? 'display: grid; grid-template-columns: 1fr 1fr;' : 'display: grid; grid-template-columns: 1fr;'">
								<div>
									<small>판매자</small><br>
									<button class="btn btn-outline-primary"
										th:onclick="whoIsReceiver([[${product.key.pNo}]], [[${product.value[1]}]]);"
										th:if="${!product.value[1].isEmpty()}"
										data-bs-target="#exampleModalToggle" data-bs-toggle="modal">작성</button>
									<button th:if="${product.value[1].isEmpty()}"
										class="btn btn-outline-secondary"
										data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
										disabled>완료</button>
								</div>
								<div th:if="${product.key.delevery.toString() == 'Y'}">
									<small>천둥맨</small><br>
									<button class="btn btn-outline-primary"
										th:onclick="whoIsReceiver([[${product.key.pNo}]], [[${product.value[0]}]]);"
										th:if="${!product.value[0].isEmpty()}"
										data-bs-target="#exampleModalToggle" data-bs-toggle="modal">작성</button>
									<button th:if="${product.value[0].isEmpty()}"
										class="btn btn-outline-secondary"
										data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
										disabled>완료</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div th:align="center">
					<a type="button" class="btn btn-outline-dark flex-shrink-0"
						onclick="history.back()">이전</a><br> <br> <br> <br>
				</div>
			</div>
		</div>
	</div>

</body>
<script th:inline="javascript">
	function whoIsReceiver(pNo, receiver) {
		let pnoinput = document.getElementById('pNoInput');
		let receiverinput = document.getElementById('receiverInput');

		pnoinput.setAttribute('value', pNo);
		receiverinput.setAttribute('value', receiver);

	}
</script>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Bootstrap JavaScript 및 jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>