<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>마이 페이지</title>
</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div class="container-fluid">
				<h3 class="mt-4">🏃‍♀️ <span th:text="${currentUser.nickName}"></span>님의 커뮤니티 게시글</h3>
				<br>

				<table class="table">
					<thead>
						<tr>
							<th>No.</th>
							<th>category</th>
							<th>writer</th>
							<th>title</th>
							<th>like</th>
							<th>date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="board: ${boardList}">
							<td th:text="${board.postNum}">
							<td th:switch="${board.cmCategory.toString()}">
										<span th:case="NOTICE">🚨공지사항</span>
										<span th:case="LOST">😥잃어버렸어요 </span> 
										<span th:case="FOOD">🍔여기맛나요</span> 
										<span th:case="TMI">🔉알려드려요</span> 
										<span th:case="QNA">❓궁금해요</span>
										<span th:case="MEET">🙋‍♀우리만나요</span></td>
							<td th:text="${board.userId.nickName}">
							<td><a style="text-decoration: none; color: #333"
								th:href="@{/board/getBoard(postNum=${board.postNum})}"
								th:text="${board.title}" />
							<td th:text="${board.great}">
							<td th:text="${board.regdate}">
						</tr>
					</tbody>
				</table>

				<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
					<a th:if="${page != nowPage}"
						th:href="@{/mypage/myPostList(id=${#authentication.principal.username}, page=${page - 1})}"
						th:text="${page}"> </a>

					<strong th:if="${page == nowPage}" th:text="${page}"
						style="color: red"></strong>
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>
