<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>마이 페이지</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div class="container-fluid">
				<h4 class="mt-4">
					🕶️ <span style="font-weight: bold" th:text="${userPage.nickName}"></span>님이
					받은 리뷰
				</h4>
				<br>
				<table class="table">
					<thead>
						<tr>
							<th style="width: 50px">No.</th>
							<th style="width: 100px">Sender</th>
							<th>Product</th>
							<th>Review</th>
							<th style="width: 100px">Date</th>
							<th style="width: 50px">Thumb</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="review: ${reviewList}">
							<td th:text="${review.reviewNo}">
							<td th:text="${review.receiver.nickName}">
							<td>🔎<a th:text="${review.pNo.title}"
								th:href="@{/product/getProduct(pNo=${review.pNo.pNo})}"
								style="color: #333;"></a>
							<td th:text="${review.content}">
							<td th:text="${review.regdate}">
							<td th:switch="${review.review.toString()}"><span
								th:case="UP">🔋👍</span> <span th:case="DOWN">🪫👎</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>