<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>마이 페이지</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div class="container-fluid">
				<!-- 받은 리뷰 -->
				<div style="height: 280px;">
					<h4 class="mt-4">
						🕶️ <span style="font-weight: bold"
							th:text="${currentUser.nickName}"></span>님이 받은 리뷰
					</h4>
					<br>
					<table class="table reviewTable">
						<thead>
							<tr>
								<th style="width: 50px">No.</th>
								<th style="width: 100px">Sender</th>
								<th style="width: 150px">Product</th>
								<th>Review</th>
								<th style="width: 150px">Date</th>
								<th style="width: 50px">Thumb</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${reviewList.empty}">
								<td colspan="6">받은 리뷰가 없습니다.</td>
							</tr>
							<tr th:each="review: ${reviewList}">
								<td th:text="${review.reviewNo}">
								<td th:text="${review.receiver.nickName}">
								<td><div
										style="width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
										🔎 <a style="color: #333;" th:text="${review.pNo.title}"
											th:href="@{/product/getProduct(pNo=${review.pNo.pNo})}"></a>
									</div></td>
								<td th:text="${review.content}">
								<td th:text="${review.regdate}">
								<td th:switch="${review.review.toString()}"><span
									th:case="UP">🔋👍</span> <span th:case="DOWN">🪫👎</span></td>
							</tr>
						</tbody>
					</table>
				</div>

				<hr>
				<!-- 보낸 리뷰 -->
				<div style="height: 280px;">
					<h4 class="mt-4">
						🕶️ <span style="font-weight: bold"
							th:text="${currentUser.nickName}"></span>님이 보낸 리뷰
					</h4>
					<br>
					<table class="table reviewTable">
						<thead>
							<tr>
								<th style="width: 50px">No.</th>
								<th style="width: 100px">Receiver</th>
								<th style="width: 200px">Product</th>
								<th>Review</th>
								<th style="width: 150px">Date</th>
								<th style="width: 50px">Thumb</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="review, state: ${sentReviewList}">
								<td th:text="${state.count}">
								<td th:text="${review.receiver.nickName}">
								<td>
									<div
										style="width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
										🔎 <a style="color: #333;" th:text="${review.pNo.title}"
											th:href="@{/product/getProduct(pNo=${review.pNo.pNo})}"></a>
									</div>
									</a>
								<td th:text="${review.content}">
								<td th:text="${review.regdate}">
								<td th:switch="${review.review.toString()}"><span
									th:case="UP">🔋👍</span> <span th:case="DOWN">🪫👎</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>