<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>커뮤니티 게시글</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
/* wrapper */
	#wrapper{
		justify-content: center;
		width:100%;
		display:grid;
		grid-template-columns:repeat(4, 1fr);
		grid-template-rows:repeat(1);
		grid-template-areas:
			"box2 box2 box2 box2";
		margin: 0px auto;
		padding: 0px;	
	}
	.box{
		padding:15px;
	}
	.box1{
		grid-area:box1
	}
	.box2{
		grid-area:box2
	}

    </style>

<link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body th:align="center">
	<div class="d-flex" id="wrapper">
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div class="container-fluid">
				<!------------ 여기부터 메인 바디! 여기부터 작성하면 됨 ---------------->  
				
<div id="wrapper">
					<div class="box box2"> 
						<div th:align="center">
							<form th:action="@{/board/insertBoard}" method="post">
								<br>
								<br>
								<h2 th:align="center" style="font-weight:700" th:text="${board.title}">  </h2>
								<!-- NOTICE, LOST, FOOD, TMI, QNA, MEET if문 사용해서 해당하는 단어가 나오면 글자 띄우기 -->
								<br>
								
							<div style="display:flex; width:1100" class="mb-3" th:switch="${board.cmCategory.toString()}">
								<span th:case="NOTICE" th:align="left" class="border-bottom" style="flex-grow: 1;">🚨 공지사항</span>
								<span th:case="LOST" th:align="left" class="border-bottom" style="flex-grow: 1;">😥 잃어버렸어요</span>
								<span th:case="FOOD" th:align="left" class="border-bottom" style="flex-grow: 1;">🍔 여기 맛나요</span>
								<span th:case="TMI" th:align="left" class="border-bottom" style="flex-grow: 1;">🔉 알려드려요</span>
								<span th:case="QNA" th:align="left" class="border-bottom" style="flex-grow: 1;">❓ &nbsp;궁금해요</span>
								<span th:case="MEET" th:align="left" class="border-bottom" style="flex-grow: 1;">🙋‍♀️ 우리만나요</span>
							
						

								<span th:align="right" class="border-bottom" style="flex-grow: 1;" th:text="${board.regdate}"></span>	
							</div>	
							<div style="display:flex; width:1100" class="mb-3">
								<span th:align="left" style="font-weight:860; font-size:1.2rem; margin-left:30px;">
								<a style="text-decoration: none; color: #333" th:href="@{/mypage/myPageMain(id=${board.userId.id})}"  th:text="${board.userId.nickName}"></a></span>
							</div>
							<div th:align="center">
									<th:block th:if="${board.photoPath} == null">
										<img src="/images/bigcarrot.png" alt="사진 출력에 오류가 있습니다."  style="width:300px; margin-top:50px;">
									</th:block>
									<th:block th:if="${board.photoPath} != null">
										<img th:src="@{${board.photoPath}}" alt="사진 출력에 오류가 있습니다."  style="width:500px;">
									</th:block>
								</div>
							<br><br>
							<div style="width:860px" align="left" th:align="center">
								<p th:text="${board.content}">
							</div>
							</form>	
						</div>	
						<br>
								
				  <!-- 댓글 작성 폼 -->
						<form id="replyForm">
						 	<input type="hidden" id="boardId" th:value="${board.postNum}" />
						   	<textarea id="replyContent" placeholder="댓글을 입력하세요."></textarea>
						    <button type="submit">댓글 작성</button>
						</form>
						
						<!-- 댓글 목록 -->
						<table id="replyList">
						    <tr th:Each="reply : ${replies}">
						    	<td th:text="${reply.replyContent}"></td>
						        <td><button class="deleteReply" data-id="${reply.replyNum}">삭제</button></td>
						    </tr>
						</table>
						
			<div th:align="center">		
			<a style="margin:5px" th:href="@{/board/insertBoard}"><button type="button" class="btn btn-outline-secondary">새 게시글</button></a>
			<button type="button" class="btn btn-outline-secondary" onclick="history.back()">글 목록</button>
			<a sec:authorize = "hasAuthority('ROLE_ADMIN')" th:href="@{/board/deleteBoard(postNum=${board.postNum})}">글삭제</a>
			</div>
			<br><br><br>		
	</div>	
</div>

	<!------------ 여기까지 메인 바디! 여기까지 작성하면 됨 ---------------->
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
let boardId = $('#boardId').val();

$(document).ready(function() {
    // 댓글 작성
    $('#replyForm').submit(function(e) {
        e.preventDefault();

        let replyData = {
            "replyContent": $('#replyContent').val(),
            "boardId": boardId
        };

        $.ajax({
            type: "POST",
            url: "/reply/getBoard",
            data: JSON.stringify(replyData),
            contentType: "application/json",
            success: function(response) {
                // 댓글 추가 코드 (예: 댓글 목록에 새로운 댓글 추가)
            },
            error: function(error) {
                alert("댓글 작성 중 오류 발생");
            }
        });
    });

    // 댓글 삭제
    $(document).on('click', '.deleteReply', function() {
        let replyId = $(this).data('id');

        $.ajax({
            type: "DELETE",
            url: "/reply/delete?id=" + replyId,
            success: function(response) {
                // 댓글 삭제 코드 (예: 댓글 목록에서 해당 댓글 제거)
            },
            error: function(error) {
                alert("댓글 삭제 중 오류 발생");
            }
        });
    });
});

//=======================================


</script>
</html>

