<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>천둥맨 찾아요!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- 스타일 -->
 <style>

</style>
    
<link th:href="@{/css/myThunderList.css}" rel="stylesheet">

</head>

<!-- 배터리 60 아래인 천둥맨이 들어오면 Qualification() 실행 -->
<th:block th:with="isThunderAndLowBattery=${currentUser.auth.toString().equals('THUNDER')} and ${currentUser.battery < 60}">
    <th:block th:if="${isThunderAndLowBattery}">
		<body th:align="center" onload="Qualification()">
	</th:block></th:block>
<th:block th:with="isThunderAndLowBattery=${currentUser.auth.toString().equals('THUNDER')} and ${currentUser.battery >= 60}">
    <th:block th:if="${isThunderAndLowBattery}">
		<body th:align="center">
	</th:block></th:block>
	<div class="d-flex" id="wrapper">
		<div id="page-content-wrapper">
			<div th:insert="~{fragment/header :: header}"></div>
			<!-- Page content-->
			<div class="container-fluid">
				<!------------ 여기부터 메인 바디! 여기부터 작성하면 됨 ---------------->    
    			<div id="wrapper">
					<div class="box box2">	
							
							    <h2 style="margin:30px 0px 0px 30px;"> 📤물품 수배서 </h2> 		

						<form th:action="@{/thunder/myThunderList}" method="get">
							<div class="input-group mb-3 right w-25">
								<select class="form-select flex-right " aria-label="Default" name="searchCondition">
										  <option value="TITLE">제목</option>
										  <option value="CONTENT">내용</option>
											  <option value="NICKNAME">닉네임</option>
								</select>
							    <input type="text" class="form-control w-25" placeholder="검색 입력란" aria-label="Recipient's username" aria-describedby="button-addon2" name="searchKeyword">
							    <button class="btn btn-outline-secondary" type="submit" id="button-addon2" name="검색" value="검색">검색</button>
							</div>
						</form>

					<br>
					<input type="hidden" id="memberId" th:value="${currentUser.id}" />
				<table>
				    <tr>
				        <th class="center">No.</th>
				        <th class="center">title</th>
				        <th class="center">buyer</th>
				        <th class="center">seller</th>
				        <th class="center">region</th>
				        <th class="center">price</th>
				        <th class="center">date</th>
				        <th class="center">thunder</th>
				    </tr>											
				    <tr th:each="thunder, state : ${thunderList1}">
				    	<th:block th:if="${thunder.thunderId} == null">
					        <td class="center" th:text="${state.count}"></td>
					        <td class="center"><a style="text-decoration: none; color: #333;" th:text="${thunder.pNo.title}" th:href="@{/product/getProduct(pNo=${thunder.pNo.pNo})}"></a></td>
					        <td class="center"><a style="text-decoration: none; color: #333;" th:text="${thunder.buyer.id}" th:href="@{/mypage/myPageMain(id=${thunder.buyer.id})}"></a></td>
					        <td class="center"><a style="text-decoration: none; color: #333;" th:text="${thunder.pNo.salesId.id}" th:href="@{/mypage/myPageMain(id=${thunder.buyer.id})}"></a></td>
	 				        <td class="center" th:text="${thunder.buyer.location}"></td>
					        <td class="center" th:text="${thunder.pNo.price}"></td>
					        <td class="center" th:text="${#dates.format(thunder.pNo.regdate, 'yyyy.MM.dd')}"></td> 
					        <th:block th:if="${currentUser.id} == ${thunder.buyer.id} or ${currentUser.id} == ${thunder.pNo.salesId.id}">
					        <td class="center">
					        	<button type="button" class="btn btn-danger"
					        	id="thunderDelivery" th:value="${thunder.pNo.pNo}" disabled>⛔잠 김</button>
					        </td>
					        </th:block>
					        <th:block th:if="${currentUser.id} != ${thunder.buyer.id} and ${currentUser.id} != ${thunder.pNo.salesId.id}">
					        <td class="center">
					        	<button type="button" class="btn btn-outline-warning link-dark"
					        	id="thunderDelivery" th:value="${thunder.pNo.pNo}" onclick='thunderDelivery(this)'>다녀오기1</button>
					        </td>
					        </th:block>
				        </th:block>
				        <th:block th:if="${thunder.thunderId} != null"></th:block>
				        
				    </tr>
				</table>
					<hr>
			<div th:align="center">				
				<span th:if="${!thunderList1.isEmpty}" class="center" style="flex-grow:12; font-size:1.1rem">
							[ <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}" > 
								<a th:if="${page != nowPage}" style="text-decoration: none; color: #222;"
									th:href="@{/thunder/myThunderList(id=${currentUser.id}, page=${page - 1})}"
									th:text="${page}"> </a>
			
								<strong th:if="${page == nowPage}" th:text="${page}"
									style="color: red"></strong> 
							</th:block> ]
							</span>
						</div>	
					
			
				</div>	
			</div>

			<!------------ 여기까지 메인 바디! 여기까지 작성하면 됨 ---------------->
			</div>
		</div>
	</div>
	<th:block th:replace="~{fragment/footer :: footer}"></th:block>
</body>
<script type="text/javascript">
function Qualification() {
    console.log("hi");
	
	 let replyData = {
		"memberId" : $('#memberId').val()
	 };
	
	$.ajax({
       type: "POST",
       url: "/thunder/myThunderQualification",
       data: JSON.stringify(replyData),
       contentType: "application/json",
       success: function(response) {
       	   alert("배터리가 부족하여 천둥맨자격이 박탈됩니다.");
       	   location.href='http://localhost:8081/product/getProductList?type=prod';
       },
       error: function(error) {
           alert("문제가 생겼어요!");
       }
   });	
}

function thunderDelivery(ele) {
	let thunder = ele.value;
	console.log(thunder);
	
	let thunderData = {
		"thunder" : thunder,
		"id" : $('#memberId').val	()
	};
	
	if (confirm("이곳으로 물건을 전송하는 것이 확실한가요?")) {
		console.log("전송");
		$.ajax({
			type: "POST",
			url: "/thunder/thunderDelivery",
			data: JSON.stringify(thunderData),
			contentType: "application/json",
			success: function(response) {
				alert("천둥맨님 신속! 정확! 전송 부탁드려요!");
				document.location.reload();
			},
			error: function(error) {
				alert("천둥맨 배정에 문제가 생겼어요.");
			}
		});
	} else {
		console.log("취소");
		alert("좀 더 나은 전송지를 찾으셨나요?");
		}
	}	
	
</script>

</html>