<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<body th:align="center">
				<div class="grid">
					<input multiple="multiple" type="file" onchange='readURL(this);'
						name="file" id="file" style="display: none;" accept="image/*">
					<div class="image-container">
						<img id="imgShow" src="/images/lock.png" onclick='imgclick();'
							style="width: 200px; height: 200px;">
					</div>
				</div>

<br>

</body>
</head>
</html>

      