<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        h2 {
            font-family: 'Noto Sans CJK KR', sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }

        /* 네모박스의 너비를 조절하여 크기를 줄입니다. */
        #guInput, #dongInput {
            width: 80px; /* 원하는 너비로 조절하세요 */
        }
        .container {
           float: left;
        }
    </style>
    <title>시스템 페이지</title>
</head>
<body th:align="center">
<div>
    
        <h2>회원가입을 위해<br>정보를 입력해주세요.</h2>
             <div class="container">
        <form action="/system/register" method="post">
       
                <label for="id">* 아이디<br> <input type="text" id="id" placeholder="아이디를 입력하세요"><br> <br></label>
                <label for="nickName">* 닉네임 <br> <input type="text" id="nickName" placeholder="닉네임을 입력하세요"><br> <br></label>
                <label for="location">* 지역 <br> <input type="text" id="guInput" placeholder="구"> <label for="guInput">구</label>
                    <input type="text" id="dongInput" placeholder="동"> <label for="dongInput">동</label><br><br></label>
                <label for="userName">* 이름<br> <input type="text" id="userName" placeholder="이름을 입력하세요"><br><br></label>
                <label for="birth">* 생년월일 <br> <input type="date" id="birth" placeholder="생년월일을 입력하세요"><br><br></label>
                <label for="phone">* 전화번호 <br> <input type="text" id="phone" placeholder="전화번호를 입력하세요"><br><br></label>
                <label for="password">* 비밀번호 <br> <input type="password" id="password" placeholder="비밀번호를 입력하세요"><br><br></label>
                <label for="email">* 이메일 <br> <input type="email" id="email" placeholder="이메일을 입력하세요"> <br> <br></label>
            
            <div class="form-check" style="display: inline-block; margin-right: 20px;">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">수신동의</label>
            </div>
            <div class="form-check" style="display: inline-block;">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">수신미동의</label>
            </div>
            <br><br>
            <button type="submit">등록</button>
        </form>
    </div>
</div>
</body>
</html>